html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding:0px;
}

header{
    background: cyan;
}
header img{
    height: 175px;
}

.heading{
    text-align: center;
}

.navi button{
    display: block;
    background-color: inherit;
    border: none;
    color: black;
    cursor: pointer;
    width: 125px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.navi{
    margin: 0;
    padding: 0;
    float: right;
}

button:hover{background: blue;}

.content_container{
    background: black;
    height: 700px;
}

.content{
    background: cyan;
    max-width: 1200px;
    color: white;
    padding: 0px;
    margin: auto;
    height: 600px;
}

h1{
    margin: 0px;
    text-align: center;
    font-size: 80px;
}

p{
    font-size: 20px;
    margin: 0px 25px;
}

h2{
    font-size: 40px;
    margin: 0px 25px;
}