html, body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header img{
   height: 200px;
}

header{
    background: #9299B0;
}

.menu{
    background: white;
    padding:0px;
    margin: 0px;
    text-align: center;
}

button{
    border: none;
    background-color: inherit;
    padding: 7px 30px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
}

button:hover {background:lightgray;}

.Company{
    /*text-align: center;*/
    margin: auto;
    padding: 0px;
    background: #303C61;
    max-width: 1300px;
    color: white;
}
.Companybg{
    background: #303C61;
}

.Aboutbg{
    background: black;
}

.About{
    color: white;
    /*text-align: center;*/
    margin: auto;
    background: black;
    padding: 0px;
    max-width: 1300px;
}

h1{
    margin: 0px;
    font-size: 90px;
}

h2{
    margin:0;
    font-size: 60px;
}

p1{
    font-size: 22px;
}

footer{
    background: black;
    color: white;
    text-align: center;
}